.mat-form-field,
#hipo {
  width: 200px;
  height: 100%;
  font-size: 14px;
  margin-right: 24px;
  margin-top: 15px;
}

.mat-form-field,
#race {
  width: 170px;
  height: 100%;
  font-size: 14px;
  min-width: 170px;
}

.cdk-overlay-pane{
  transform: unset!important;
}
.mat-form-field,
#bet {
  width: 170px;
  height: 100%;
  font-size: 14px;
  margin-right: 24px;
}

.mat-form-field,
#bet-value {
  width: 100px;
  height: 100%;
  font-size: 14px;
}

.mat-select-panel-wrap .mat-select-panel {
  max-width: 350px;
  min-height: 100%;
  /* margin-top: 40px; */
  border-radius: 10px;
}

.mat-select-panel-wrap .mat-select-panel .mat-option {
  height: 4em;
}

.mat-select-panel-wrap .mat-select-panel .mat-option .mat-option-text {
  display: flex;
  align-items: center;
}

.mat-select-panel-wrap
  .mat-select-panel
  .mat-option
  .mat-option-text
  .time-box {
  width: 100px;
  text-align: center;
  border: 1px solid green;
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
}

.mat-select-panel-wrap
  .mat-select-panel
  .mat-option
  .mat-option-text
  .hipo-name {
  width: 100%;
  text-align: left;
}

.mat-select-panel-wrap
  .mat-select-panel
  .mat-option
  .mat-option-text
  .race-info {
  padding: 4px;
  margin-left: auto;
}

.button-row .mat-button-base {
  margin: 2px 2px 2px 0px;
}

#last-section {
  margin-left: auto;
}

.mat-toolbar .mat-card {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 4px;
  font-size: 14px;
}


@media screen and (max-width:599px){
  .mat-toolbar .mat-toolbar-row{
    display: block;
    white-space: unset;
    height: auto;
  }
  .left-content {
    width: 100% !important;
  }
  .mat-form-field {
      width: 48% !important;
      height: 100%;
      font-size: 14px;
      margin-right: 0 !important;
      margin-top: 0 !important;
      margin-top: 15px;
      float: left;
      display: inline-block;
  }
  .mat-form-field:nth-child(2),
  .mat-form-field:nth-child(4) {
    float: right;
  }
  .mat-toolbar .mat-card {
    width: 60% !important;
    margin: unset !important;
  }
  section.button-row {
    position: absolute;
    top: 220px;
    width: 37%;
    right: 0px;
  }
  .mat-toolbar-multiple-rows {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .cdk-overlay-pane{
    left:15px!important;
    top: 130px !important;
    width: 84% !important;
  }

}